# Target Config
CONFIG_TARGET_airoha=y
CONFIG_TARGET_airoha_an7581=y

CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_ROOTFS_INITRAMFS=n

# Target Devices
CONFIG_TARGET_airoha_an7581_DEVICE_airoha_an7581-evb=y
#CONFIG_TARGET_airoha_an7581_DEVICE_airoha_an7581-evb-emmc=y

# 安装插件
CONFIG_PACKAGE_luci-app-appfilter=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-homeproxy=y
CONFIG_PACKAGE_luci-app-zerotier=y

# 删除插件
CONFIG_PACKAGE_coremark=n
CONFIG_PACKAGE_cpufreq=n

# 组件调整
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_wget-ssl=y
CONFIG_LUCI_LANG_zh_Hans=y

# 主题
CONFIG_PACKAGE_luci-theme-argon=y
